Package: com.joshdoctors.freeloader
Name: FreeLoader
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customize the loading indicator.
Maintainer: Josh Doctors
Author: Josh Doctors
Section: Tweaks
